<%- include('headers') -%>

<div class="container">
    <div class="redsquarcontact hover-effect" id="redsquar">
    </div>
    <div class="navbar">
        <a  href="http://localhost:3000/" class="nav-link hover">
            <span class="spanName hover-effect">Home</span></a>
    </div>
    

    <div style="margin-top: 10%;">
        <ul ><h1>Contact Us</h1>
            <h3 class="details">Email</h3>
            <li class="details">Yourtrimmingsbyda@gmail.com</li>
        </ul>   
    </div>

   
</div>
<%- include('footer') -%>