<footer class="foot">
    <div class="container">
        <p class="foot">&copy; <span  id="currentYear"></span> YourTrimmings. All rights reserved.</p>
    </div>
</footer>

<script>
    const currentYear = new Date().getFullYear();
    document.getElementById("currentYear").textContent = currentYear;
</script>
