<%- include('headers') -%>
<div class="container">
 
    <div class="navbarP">
        <a  href="http://localhost:3000/" class="nav-link">
            <span class="spanName nav-link">Home</span></a>
    </div>
    

    

    <div class="card">
      <img src="/dadasite/crown-1.jpg" class="img-thumbnail" alt="...">
      <span class="spanName">This beautiful Headpiece you see Was made by yours truly</span>

      <img src="/dadasite/crown-2.jpg" class="img-thumbnail" alt="...">
      <span class="spanName">This beautiful Headpiece you see Was made by yours truly</span>

      <img src="/dadasite/crown-3.jpg" class="img-thumbnail" alt="...">
      <span class="spanName">This beautiful Headpiece you see Was made by yours truly</span>

      <img src="/dadasite/crown-4.jpg" class="img-thumbnail" alt="...">
      <span class="spanName">This beautiful Headpiece you see Was made by yours truly</span>

      <img src="/dadasite/crown-5.jpg" class="img-thumbnail" alt="...">
      <span class="spanName">This beautiful Headpiece you see Was made by yours truly</span>

      <img src="/dadasite/crown-6.jpg" class="img-thumbnail" alt="...">
      <span class="spanName">This beautiful Headpiece you see Was made by yours truly</span>

      <img src="/dadasite/crown-7.jpg" class="img-thumbnail" alt="...">
      <span class="spanName">This beautiful Headpiece you see Was made by yours truly</span>

      <img src="/dadasite/crown-8.jpg" class="img-thumbnail" alt="...">
      <span class="spanName">This is the beautiful <h3>Royal Blue</h3>
         made by yours truly</span>

      <img src="/dadasite/crown-9.jpg" class="img-thumbnail" alt="...">
      <span class="spanName">This beautiful Headpiece you see Was made by yours truly</span>

      <img src="/dadasite/crown-10.jpg" class="img-thumbnail" alt="...">
      <span class="spanName">This beautiful Headpiece you see Was made by yours truly</span>

      <img src="/dadasite/crown-11.jpg" class="img-thumbnail" alt="...">
      <span class="spanName">This beautiful Headpiece you see Was made by yours truly</span>

      <img src="/dadasite/crown-12.jpg" class="img-thumbnail" alt="...">
      <span class="spanName">This beautiful Headpiece you see Was made by yours truly</span>

      <img src="/dadasite/crown-13.jpg" class="img-thumbnail" alt="...">
      <span class="spanName">This beautiful Headpiece you see Was made by yours truly</span>

      <img src="/dadasite/crown-14.jpg" class="img-thumbnail" alt="...">
      <span class="spanName">This beautiful Headpiece you see Was made by yours truly</span>

      <img src="/dadasite/crown-15.jpg" class="img-thumbnail" alt="...">
      <span class="spanName">This beautiful Headpiece you see Was made by yours truly</span>
    </div>

    
    

   


    

    <div  class="redsquarproduct" id="redsquar" ></div>
</div>


<%- include('footer') -%>